@import '../../assets/scss/main';

.block {
  // .block__category

  &__category {
    display: flex;
    flex-direction: column;
  }
}

.block {
  // .block__category

  &__category {
    display: flex;
    flex-direction: column;
  }
}