.body {
  color: $color-white;
  background: $bg-global;
  font-size: 1.8rem;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
}
