// базовые значения

body{
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.container {
  max-width: 1400px !important;
}

.link {
  text-decoration: none;
  cursor: pointer;
}
