@import '../../assets/scss/main';

.header {
  padding: 4rem 0 6rem 0;
  background: $bg-global;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.basket {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  background-image: url('../../assets/svg/bytesize_cart.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.basket__total {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 57%;
  transform: translateX(-50%);
  font-size: 1.6rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: rgba($color: $brand-color, $alpha: 0.8);
  border-radius: 50%;
}

.basket__total-content {
  position: absolute;
  font-size: 1.9rem;
  color: white;
  border: 1px solid $brand-color;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
}
