.header {
  padding: 4rem 0 6rem 0;
  background: $bg-global;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.basket {
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: url("../../images/basket-img-black.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
}

.total-price span {
  font-size: 1.8rem;
}
